In [1]:
'a' == 'a'

True

In [2]:
'A' == 'a'

False

In [3]:
1 != 2

True

In [2]:
(1 == 1) and ('a' == 'a') and (3 == 3)

True

In [3]:
if 1==1:
    print('yeah!')

yeah!

In [6]:
if 1==2:
    print('workded!')
elif 3==3:
    print('second cond true!')
else:
    print('nope')

second cond true!

In [7]:
seq = [1,2,3,4,5]

In [8]:
for item in seq:
    print(item)

1
2
3
4
5

In [9]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [10]:
x = [1,2,3,4]

In [12]:
list(range(2,5))

[2, 3, 4]

In [13]:
for x in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [14]:
x = [1,2,3,4,5]

In [15]:
out = []
for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16, 25]

In [16]:
[num**2 for num in x]

[1, 4, 9, 16, 25]